.footer{
    padding-top: $pd-2;
    .footer__left{
        .left__content{
            display: flex;
            flex-wrap: wrap;
            height: 110px;
            li{
                list-style: none;
                width: 340px;
                margin-left: $mg-2;
                a{
                    @include styleText($color-blue, $fs-1, $fw-normal);
                    &:hover{
                        text-decoration: none;
                    }
                
            }
        }
        }
       
    }
    .footer__right{
        text-align: right;
        button{
            @include styleButton($color-gray-4, $color-white-0, $pd-1, $pd-2, $border-radius);
            @include styleText($color-gray-4, $fs-0, $fw-bold);
            &:hover{
                @include styleButtonHover($color-black-0, $color-white-0,$pd-1, $pd-2, $color-black-0);
            }
            span:first-child{
                margin: 0 $mg-0;
            }
            span:last-child{
                margin: 0 $mg-0;
            }
        }
    }
    .copyright{
        margin: 30px auto;
        padding-left: 20px;
        padding-right: 20px;
        .copyright__left{
            img{
                width: 100px;
                height: 30px;
                margin-right: $mg-2 - 5;
                cursor: pointer;
            }
            .copyright__text{
                @include styleText($color-gray-4, $fs-1, $fw-normal);

            }

        }
        .copyright__right{
            display: flex;
            justify-content: flex-end;
            li{
                list-style: none;
                margin-left: $mg-2;
                a{
                    @include styleText($color-blue, $fs-1, $fw-normal);
                    line-height: 18px;

                    &:hover{
                        color: #003845;
                        text-decoration: none;
                    }
                }

            }
        }
    }
}